
{% include 'sitio/cabecera.html' %}

<div class="grid-container">
    <div class="box">Área de interés 1</div>
    <div class="box">Área de interés 2</div>
    <div class="box">Área de interés 3</div>
    <div class="box">Área de interés 4</div>
    <div class="box">Área de interés 5</div>
    <div class="box">Área de interés 6</div>
    <div class="box">Área de interés 7</div>
    <div class="box">Área de interés 8</div>
    <div class="box">Área de interés 9</div>
</div>

    
{% include 'sitio/pie.html'%}